@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

[class*="__container"] {
  max-width: 1360px;
  margin: 0 auto;
  padding: 15px;
}
/* --------------------- Page Example ------------------------ */
.page__example {
  position: relative;
  display: inline-block;
  margin: 0px auto 20px;
  background-color: rgba(223, 248, 110, 0.418);
  z-index: 100;
}
.example-1,
.example-2,
.example-3,
.example-4,
.example-5,
.example-6,
.example-7,
.example-8,
.example-9,
.example-10,
.example-11,
.example-12 {
  width: 150px;
  height: 75px;
  margin-right: 50px;
  background-color: rgb(90, 90, 90);
}
.example-1__item,
.example-2__item,
.example-3__item,
.example-4__item,
.example-5__item,
.example-6__item,
.example-7__item,
.example-8__item,
.example-9__item,
.example-10__item,
.example-11__item,
.example-12__item {
  width: 150px;
  height: 75px;
  padding: 20px;
  text-align: center;
  color: rgb(27, 27, 27);
  cursor: pointer;
}
.example-1__item {
  background-color: rgb(57, 136, 255);
  transition-duration: 1s;
}
.example-1:hover .example-1__item {
  transform: translate(15px, 15%);
  background-color: rgb(250, 247, 101);
  box-shadow: 3px 3px 3px #3c354a;
}
.example-2__item {
  background-color: rgb(250, 247, 101);
  transition-property: background-color, transform;
  transition-duration: 1.5s;
  transition: border-radius 2s;
}
.example-2:hover .example-2__item {
  transform: scale(1.1);
  background-color: rgb(211, 127, 1);
  border-radius: 15px;
}
.example-3__item {
  padding: 20px 25px;
  background-color: rgb(211, 127, 1);
  transition-property: background-color, transform, color, box-shadow;
  transition-duration: 1s;
  transition-delay: 1s;
}
.example-3:hover .example-3__item {
  transform: rotate(20deg);
  background-color: rgb(59, 255, 190);
  box-shadow: 3px 3px 3px #3c354a;
  color: #fff;
}
.example-4__item {
  background-color: rgb(59, 255, 190);
  transition-property: background-color, box-shadow;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  transition: transform 1.5s linear 1s;
}
.example-4:hover .example-4__item {
  background-color: rgb(114, 139, 250);
  box-shadow: 3px 3px 3px #3c354a;
  transform: skew(5deg, -10deg);
}
.example-5__item {
  background-color: rgb(114, 139, 250);
  padding: 20px 25px;
}
.example-5:hover .example-5__item {
  width: 160px;
  padding: 20px 35px;
  background-color: rgb(177, 114, 250);
  box-shadow: 4px 4px 4px #3c354a;
  transition: background-color 1.5s ease 0.5s, box-shadow 2s ease-out 0s,
    width 1.5s cubic-bezier(0.75, 0.99, 0.21, 0.01) 0s;
}
.example-6__item {
  background-color: rgb(177, 114, 250);
  padding: 20px 25px;
}
.example-6:hover .example-6__item {
  background-color: rgb(158, 25, 211);
  animation-name: link-rotate;
  animation-duration: 2s;
}
@keyframes link-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.example-7__item {
  background-color: rgb(158, 25, 211);
}
.example-7:hover .example-7__item {
  background-color: rgb(230, 69, 190);
  animation: rotate-block 1s linear;
}
@keyframes rotate-block {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 0);
  }
}
.example-8__item {
  background-color: rgb(230, 69, 190);
}
.example-8:hover .example-8__item {
  background-color: rgb(211, 23, 86);
  animation: circle 2s linear 2;
}
@keyframes circle {
  0% {
    border-radius: 0%;
    box-shadow: 0px 0px 0px #3c354a;
  }
  50% {
    border-radius: 50%;
    box-shadow: 2px 2px 2px #3c354a;
  }
  100% {
    border-radius: 100%;
    box-shadow: 4px 4px 4px #3c354a;
  }
}
.example-9__item {
  background-color: rgb(211, 23, 86);
}
.example-9:hover .example-9__item {
  background-color: rgb(14, 2, 182);
  box-shadow: 4px 4px 4px #3c354a;
  animation: translate-block 1.5s linear infinite alternate-reverse;
}
@keyframes translate-block {
  0% {
    transform: translate(0, 0);
    box-shadow: 0px 0px 0px #3c354a;
  }
  50% {
    transform: translate(0, 30px);
    box-shadow: 4px 4px 4px #3c354a;
  }
  100% {
    transform: translate(0, -30px);
    box-shadow: 4px 4px 4px #3c354a;
  }
}
.example-10__item {
  background-color: rgb(182, 2, 2);
  transition: border-radius 0.5s ease 0s, box-shadow 0.5s ease 0s;
}
.example-10:hover .example-10__item {
  background-color: rgb(97, 66, 25);
  border-radius: 100%;
  box-shadow: 4px 4px 4px #3c354a;
  animation: link-rotate2 2s linear infinite normal running;
}
@keyframes link-rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.example-11__item {
  background-color: rgb(97, 66, 25);
  padding: 20px 25px;
  transition: width 0.5s ease 1s, height 0.5s ease 1s, margin 0.5s ease 1s;
}
.example-11:hover .example-11__item {
  background-color: rgb(199, 137, 4);
  box-shadow: 4px 4px 4px #3c354a;
  animation: circle 1s linear 3 normal running 1.5s;
  width: 85px;
  height: 85px;
  margin: 0 auto;
}
.example-12__item {
  background-color: rgb(199, 137, 4);
  transition: border-radius 0.5s ease 0s, box-shadow 0.5s ease 0s,
    width 0.5s ease 0s;
}
.example-12:hover .example-12__item {
  width: 100px;
  background-color: rgb(57, 136, 255);
  box-shadow: 4px 4px 4px #3c354a;
  border-radius: 50px;
  animation: rotate3 2s ease-in infinite normal running 0s backwards;
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* ----------- Tasks ---------------- */
.example-13 {
  width: 600px;
  height: 150px;
  margin-left: 27%;
  background-color: rgba(90, 90, 90, 0.103);
  text-align: center;
  margin-top: -25px;
  margin-bottom: 100px;
}
.title {
  font-weight: 700;
  font-size: 30px;
  animation: title 1s ease forwards;
  transform: translate(0px, 50%);
  opacity: 0;
}
.title:not(:last-child) {
  margin-bottom: 5px;
}
.sub-title {
  font-size: 20px;
  animation: title 1s ease 0.5s forwards;
  transform: translate(0px, 50%);
  opacity: 0;
}
.sub-title:not(:last-child) {
  margin-bottom: 5px;
}
.text {
  animation: title 1s ease 1s forwards;
  line-height: 1.5;
  transform: translate(0px, 50%);
  opacity: 0;
}

@keyframes title {
  0% {
  }
  100% {
    transform: translate(0px, 0%);
    opacity: 1;
  }
}

.example-14 {
  width: 150px;
  height: 45px;
  margin-left: 40%;
  border-radius: 50%;
  background-color: rgba(42, 92, 9, 0.411);
  cursor: pointer;
}
.example-14__item {
  width: 150px;
  color: #000;
  position: relative;
}
.example-14__item::before {
  content: "";
  background: url(../img/images.png) 0 0 / contain no-repeat;
  position: absolute;
  padding-left: 30px;
  width: 25px;
  height: 25px;
  left: 40%;
  top: 5px;
  z-index: 1;
}
.example-14:hover .example-14__item {
  width: 150px;
  height: 150px;
  background: url(../img/ukraine.png) 0 0 / cover no-repeat;
  box-shadow: 4px 4px 4px #3c354a;
  position: absolute;
  z-index: 200;
  top: -20px;
  left: 0;
  border-radius: 15%;
  transition: background 3s ease 1s;
}

/* ----------- Tank ------------------ */
.tank__background {
  min-height: 1000px;
  width: 100%;
  background: url(../img/field.jpg) 0 0 / cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.tank__body {
  width: 250px;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 2;
  animation: translate-tank 15s linear infinite normal;
}
@keyframes translate-tank {
  0% {
    transform: translate(0, 0px);
  }
  20% {
    transform: translate(175px, 75px);
  }
  40% {
    transform: translate(350px, 150px);
  }
  60% {
    transform: translate(550px, 250px);
  }
  80% {
    transform: translate(750px, 350px);
  }
  100% {
    transform: translate(900px, 500px);
  }
}
.tank__body:hover {
  animation-play-state: paused;
}
.tank__body img {
  width: 100%;
}

/* ============================================================ */
/* .newton {
  width: 300px;
  margin: 0 auto;
  border-top: 10px solid #fff;
  position: relative;
  height: 300px;
}
.newton__item {
  position: absolute;
  top: -5px;
  width: 33.333%;
  height: 100%;
  transform-origin: top;
}
.newton__item::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: #666;
  left: 50%;
  transform: translate(-50%, 0px);
  border-radius: 5px;
}
.newton__item::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.newton__item:nth-child(1) {
  left: 0;
  animation: left-item 1s infinite ease-in alternate;
  transform: rotate(45deg);
}
.newton__item:nth-child(2) {
  left: 33.333%;
}
.newton__item:nth-child(3) {
  right: 0;
  transform: translate(0px, 0px);
  animation: right-item 1s infinite ease-out alternate;
}

@keyframes left-item {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes right-item {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.clouds {
  width: 300px;
  border-top: 5px solid #fff;
  margin: 0 auto;
  position: relative;
  height: 300px;
}
.clouds__item {
  position: absolute;
  top: 0;
  width: 33.333%;
  height: 100%;
  transform-origin: top;
}
.clouds__item::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: #666;
  left: 50%;
  transform: translate(-50%, 0px);
}
.clouds__item::after {
  content: "";
  width: 80px;
  height: 50px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
}

.clouds__item:nth-child(1) {
  left: 0;
  animation: clouds 3s infinite ease-in-out alternate;
}

.clouds__item:nth-child(2) {
  left: 33.333%;
  animation: clouds 3.5s infinite ease-in-out alternate;
}
.clouds__item:nth-child(3) {
  right: 0;
  animation: clouds 2.8s infinite ease-in-out alternate;
}

@keyframes clouds {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
} */
