@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

[class*="__container"] {
  max-width: 1360px;
  margin: 0 auto;
  padding: 15px;
}
/* --------------------- Page Example ------------------------ */
.page__example {
  position: relative;
  display: inline-block;
  margin: 0px auto 20px;
  background-color: rgba(223, 248, 110, 0.418);
  z-index: 100;
}
.example-1,
.example-2,
.example-3,
.example-4,
.example-5,
.example-6,
.example-7,
.example-8,
.example-9,
.example-10,
.example-11,
.example-12 {
  width: 150px;
  height: 75px;
  margin-right: 50px;
  background-color: rgb(90, 90, 90);
}
.example-1__item,
.example-2__item,
.example-3__item,
.example-4__item,
.example-5__item,
.example-6__item,
.example-7__item,
.example-8__item,
.example-9__item,
.example-10__item,
.example-11__item,
.example-12__item {
  width: 150px;
  height: 75px;
  padding: 20px;
  text-align: center;
  color: rgb(27, 27, 27);
}
.example-1__item {
  background-color: rgb(57, 136, 255);
  transition-duration: 1s;
}
.example-1:hover .example-1__item {
  transform: translate(15px, 15%);
  background-color: rgb(250, 247, 101);
  box-shadow: 3px 3px 3px #3c354a;
}
.example-2__item {
  background-color: rgb(250, 247, 101);
  transition-property: background-color, transition;
  transition-duration: 1.5s;
  transition: border-radius 2s;
}
.example-2:hover .example-2__item {
  transform: scale(1.1);
  background-color: rgb(211, 127, 1);
  border-radius: 15px;
}
.example-3__item {
  padding: 20px 25px;
  background-color: rgb(211, 127, 1);
  transition-property: background-color, transform, color, box-shadow;
  transition-duration: 1s;
  transition-delay: 1s;
}
.example-3:hover .example-3__item {
  transform: rotate(20deg);
  background-color: rgb(59, 255, 190);
  box-shadow: 3px 3px 3px #3c354a;
  color: #fff;
}
.example-4__item {
  background-color: rgb(59, 255, 190);
  transition-property: background-color, box-shadow;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
  transition: transform 1.5s linear 1s;
}
.example-4:hover .example-4__item {
  background-color: rgb(114, 139, 250);
  box-shadow: 3px 3px 3px #3c354a;
  transform: skew(5deg, -10deg);
}
.example-5__item {
  background-color: rgb(114, 139, 250);
  padding: 20px 25px;
}
.example-5:hover .example-5__item {
  background-color: rgb(177, 114, 250);
  transform: matrix(0.5, 0.1, 0.1, 0.5, 10, 15);
}
.example-6__item {
  background-color: rgb(177, 114, 250);
  padding: 20px 25px;
}
.example-6:hover .example-6__item {
  transform: translate(10%, 10%) rotate(10deg) scale(0.7) skew(5deg, 5deg);
}
.example-7__item {
  background-color: rgb(184, 69, 230);
}
.example-7:hover .example-7__item {
  transform-origin: 0 0;
  transform: rotate(-20deg);
}
.example-8__item {
  background-color: rgb(230, 69, 190);
}
.example-8 {
  perspective: 200px;
}
.example-8:hover .example-8__item {
  transform: rotateX(45deg);
}
.example-9__item {
  background-color: rgb(211, 23, 86);
}
.example-9 {
  perspective: 400px;
  perspective-origin: 0 0;
}
.example-9:hover .example-9__item {
  transform: rotateX(60deg);
}
.example-10__item {
  background-color: rgb(182, 2, 2);
}
.example-10 {
  perspective: 400px;
}
.example-10:hover .example-10__item {
  transform: translate3d(30px, 30px, 30px) scale3d(1, 1, 1)
    rotate3d(1, 1, 1, 30deg);
}
.example-11__item {
  background-color: rgb(97, 66, 25);
  padding: 20px 25px;
  transform: rotateX(0deg);
}
.example-11 {
  perspective: 400px;
  transform-style: preserve-3d;
  background-color: rgba(90, 90, 90, 0.616);
}
.example-11:hover .example-11__item {
  transform: rotateX(50deg);
}
.example-12 {
  perspective: 400px;
  position: absolute;
}
.example-12__item {
  transform-style: preserve-3d;
}
.example-12__item--front,
.example-12__item--back {
  padding: 10px 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.example-12__item--front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #515ea8;
  backface-visibility: hidden;
}
.example-12__item--back {
  transform: rotateY(-180deg);
  background-color: rgba(121, 79, 69, 0.5);
}
.example-12:hover .example-12__item {
  transform: rotateY(-180deg);
}
/*
	Універсальний запис transition*/
transition: all 0.5s ease 0.5s;

/* Декілька параметрів */
/* transition: width 0.8s ease 0s, height 0.5s ease-in 0.8s; */
.block:hover .block__item {
  width: 200px;
  transform: translate(10%, 10%);
  background-color: #77608d;
  height: 200px;
}
.link {
  color: #fff;
  transition: all 0.3s ease 0s;
  position: relative;
  padding-left: 25px;
}
.link::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #7a956b;
  animation-name: link-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes link-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 0;
  height: 1px;
  transition: width 0.3s ease 0s;
  background-color: red;
}
.link:hover {
  color: green;
}
.link:hover::before {
  animation-play-state: paused;
}
.link:hover::after {
  width: 100%;
}

.image {
  width: 200px;
  overflow: hidden;
  display: block;
  position: relative;
}
.image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-color: #000;
  transition: opacity 0.8s ease 0s;
  z-index: 2;
}
.image img {
  max-width: 100%;
  transition: transform 0.8s ease 0s;
}
.image:hover img {
  transform: scale(1.1);
}
.image:hover::before {
  opacity: 0;
}
.page__text {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* ============================================================ */

/*
CSS animation & @keyframes

Як і CSS властивість плавних переходів transition,
про яку ми говорили в попередньому уроці,
властивість animation покликана зробити нашу верстку динамічнішою,
оживити її для кращої взаємодії з 
користувачем та створення WOW ефекту. 

Але на відміну від CSS переходів,
створення анімації базується на ключових кадрах @keyframes,
які дозволяють автоматично відтворювати та повторювати 
ефекти протягом заданого часу, а також зупиняти 
анімацію за певною подією. 

Іншими словами, використання конструкції animation 
та @keyframes дозволяє нам створювати більш складні сценарії анімацій.
*/

.block-animation__item {
  width: 150px;
  height: 150px;
  background-color: #77608d;

  /*
	animation-name
	Визначає список анімацій (ключових кадрів),
	що застосовуються до елемента. Можна вказати через кому. 
	Причому пріоритет останній запис.
	*/
  animation-name: rotate-block;

  /*
	animation-duration
	Відповідає за тривалість анімації.
	*/
  animation-duration: 1s;

  /*
	animation-timing-function
	Встановлює сценарій розвитку анімації між ключовими кадрами.
	*/
  animation-timing-function: linear;

  /*
	animation-iteration-count
	Відповідає за повтор відтворення ключових кадрів.
	*/
  animation-iteration-count: 1;

  /*
	animation-direction
	Визначає напрямок та тип відтворення ключових кадрів.

	normal - за замовченням
	*/
  animation-direction: normal;
  /*
	animation-play-state
	Дозволяє запускати або зупиняти анімацію за подією.
	*/
  animation-play-state: running;

  /*
	animation-delay
	Відповідає за затримку перед відтворенням.
	*/
  animation-delay: 0s;

  /*
	animation-fill-mode
	Визначає,
	які значення анімованих css властивостей 
	застосовуються до об'єкта після завершення анімації.
	*/
  animation-fill-mode: forwards;

  /*
	Універсальний запис
	animation
	*/
  animation: rotate-block 1s linear 1 normal running 0s forwards;
}

.block-animation__item:hover {
  animation-play-state: paused;
}

/* Сценарій анімації */
@keyframes rotate-block {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200px, 0);
  }
}
/*
.car {
	width: 200px;
	height: 100px;
	background-color: #794f45;
	border-radius: 50px 50px 0 0;
	position: relative;
	animation: car-ride 8s linear forwards;
}
.car__wheels {
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0;
}
.car__wheel {
	width: 40px;
	height: 40px;
	background-color: #666;
	position: absolute;
	border-radius: 50%;
	outline: 5px dashed #000;
	animation: wheels 8s linear forwards;
}
.car__wheel:first-child{
	left: 0;
}
.car__wheel:last-child {
	right: 0;
}
*/
/*
@keyframes wheels{
	0% {
		transform: rotate(0deg);
	}
	20%{
		transform: rotate(360deg);
	}
	80%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
@keyframes car-ride {
	0% {
		transform: translate(-200%, 0px);
	}
	20%{
		transform: translate(100px, 0px);
	}
	80%{
		transform: translate(100px, 0px);
	}
	100% {
		transform: translate(1000px, 0px);
	}
}
*/

/*
.title {
	font-weight: 700;
	font-size: 40px;
	animation: title 1s ease forwards;
	transform: translate(0px, 50%);
	opacity: 0;
}

.title:not(:last-child){
	margin-bottom: 20px;
}
.sub-title {
	font-size: 24px;
	animation: title 1s ease 0.5s forwards;
	transform: translate(0px, 50%);
	opacity: 0;
}
.sub-title:not(:last-child) {
	margin-bottom: 15px;
}
.text {
	animation: title 1s ease 1s forwards;
	line-height: 1.5;
	transform: translate(0px, 50%);
	opacity: 0;
}

@keyframes title {
	0% {
	}
	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}
*/

.newton {
  width: 300px;
  margin: 0 auto;
  border-top: 10px solid #fff;
  position: relative;
  height: 300px;
}
.newton__item {
  position: absolute;
  top: -5px;
  width: 33.333%;
  height: 100%;
  transform-origin: top;
}
.newton__item::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: #666;
  left: 50%;
  transform: translate(-50%, 0px);
  border-radius: 5px;
}
.newton__item::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.newton__item:nth-child(1) {
  left: 0;
  animation: left-item 1s infinite ease-in alternate;
  transform: rotate(45deg);
}
.newton__item:nth-child(2) {
  left: 33.333%;
}
.newton__item:nth-child(3) {
  right: 0;
  transform: translate(0px, 0px);
  animation: right-item 1s infinite ease-out alternate;
}

@keyframes left-item {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes right-item {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.clouds {
  width: 300px;
  border-top: 5px solid #fff;
  margin: 0 auto;
  position: relative;
  height: 300px;
}
.clouds__item {
  position: absolute;
  top: 0;
  width: 33.333%;
  height: 100%;
  transform-origin: top;
}
.clouds__item::before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: #666;
  left: 50%;
  transform: translate(-50%, 0px);
}
.clouds__item::after {
  content: "";
  width: 80px;
  height: 50px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
}

.clouds__item:nth-child(1) {
  left: 0;
  animation: clouds 3s infinite ease-in-out alternate;
}

.clouds__item:nth-child(2) {
  left: 33.333%;
  animation: clouds 3.5s infinite ease-in-out alternate;
}
.clouds__item:nth-child(3) {
  right: 0;
  animation: clouds 2.8s infinite ease-in-out alternate;
}

@keyframes clouds {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
