@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 20px;
}
/* --------------------------------------------- */
.page__example {
  display: inline-block;
  margin: 10px auto 50px;
  background-color: rgba(223, 248, 110, 0.418);
}
.page__example:not(:last-child) {
  margin-right: 35px;
}
.example-1,
.example-2,
.example-3,
.example-4,
.example-5 {
  width: 150px;
  height: 150px;
  background-color: rgb(90, 90, 90);
}
.example-1__item,
.example-2__item,
.example-3__item,
.example-4__item,
.example-5__item {
  width: 150px;
  height: 150px;
  padding: 15px;
  transition: all 0.5s ease;
  text-align: center;
  color: rgb(27, 27, 27);
}
.example-1:hover .example-1__item {
  transform: translate(15px, 15%);
  background-color: rgb(255, 186, 57);
}
.example-2__item {
  background-color: rgb(255, 146, 57);
}
.example-2:hover .example-2__item {
  transform: scale(1.2);
}
.example-3__item {
  background-color: rgb(101, 208, 0);
}
.example-3:hover .example-3__item {
  transform: rotate(30deg);
}
.example-4__item {
  background-color: rgb(59, 255, 190);
}
.example-4:hover .example-4__item {
  transform: skew(10deg, -15deg);
}
.example-5__item {
  background-color: rgb(114, 168, 250);
}
.example-5__item:hover .example-5__item{
  transform: matrix(0.9, 0.1, 0.5, 0.5, 30, 30);
}


.example-7 {
  perspective: 200px;
}
.example-7__item {
  transform-origin: 0 0;
  background-color: rgb(114, 168, 250);
}
.example-7:hover .example-7__item {
  transform: rotateY(70deg);
}

.page__section--matrix {
  transform: matrix(0.9, 0.1, 0.5, 0.5, 30, 30);
}
.page__section--all-2d {
  transform: translate(10%, 10%) rotate(10deg) scale(0.7) skew(5deg, 5deg);
}
.page__section--transform-origin {
  transform-origin: 0 0;
  transform: rotate(20deg);
}

/* ----------------------------------------------------- */
/*
translate (x, y)
Зміщує елемент на нове місце,
переміщаючи відносно початкового 
положення об'єкта вправо та вниз,
використовуючи координати X та Y. 
Записується так translate (x,y).
*/
.section__item {
  /* transform: translate(20%,20%); */
  /* transform: translateY() */
  /* transform: translateX() */
  /* transform: translate(100%, 0%); */
  /*
	position: relative;
	top: 20%;
	left: 20%;
	*/
}

/*
Matrix (a, c, b, d, x, y)
Дозволяє об'єднати кілька функцій 2D-трансформацій в одній.
*/
.section__item {
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
}
/*
Множинні 2D трансформації
*/
.section__item {
  /* transform: translate(20%, 20%) scale(0.5) rotate(30deg) skew(20deg, 20deg); */
}

/*
Transform-origin
Дозволяє змістити центр трансформації,
щодо якого відбувається зміна 
положення/розміру/форми елемента.
*/
.section__item {
  /* 
	transform-origin: 0 0;
 	transform: rotate(20deg);
	*/
}

/*
Perspective,
perspective-origin
Встановлення глибини та зміна 
точки початку координат.
!! Задаються батьківському елементу!
*/
.section__body {
  /*
	perspective: 300px;
	perspective-origin:center;
	*/
}
.section__item {
  /*
	transform: rotateX(50deg);
	*/
}

/*
3D
За аналогією зі своїм 2D братом,
це значення визначає переміщення елемента,
але в 3D-просторі. Крім осі X та Y 
додається вісь Z.
!! вісь Z працює з перспективою
*/
.section__item {
  /* transform: translate3d(20px, 20px, 20px); */
  /* transform: scale3d(1,1,1); */
  /* transform: rotate3d(1, 1, 1, 0deg); */
  /* transform: translate3d(20px, 20px, 20px) scale3d(1, 1, 1); */
}

/*
Transform-style
Визначає, як дочірні елементи мають 
відображатися у 3D-просторі.
! ! Задається батьківському елементу разом з perspective !
*/
.section__body {
  /*
	perspective: 300px;
	transform-style: preserve-3d;
	*/
}
.section__item {
  /*
	transform: rotateY(180deg);
	transition: all 0.3s ease 0s;
	*/
}
.section__body:hover .section__item {
  /* 
	transform: rotateY(0deg);
	*/
}

/*
Backface-visibility
Відображення зворотного боку об'єкта.
*/

.section__item {
  /* backface-visibility: hidden; */
}

/*
.expl {
	position: relative;
}
.expl__item {
	height: 30px;
	background-color: #77608d;
	width: 90px;
	position: absolute;
	left: 50%;
	top: 0;

	transform: translate(-50%,0px);
}
*/

.link {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding-right: 30px;
  /* Не працює з рядковими */
  transform: rotate(-20deg);
}
.link::before,
.link::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
  border-radius: 2px;
}
.link::before {
  top: 5px;
  right: 0;
  transform: rotate(45deg);
}
.link::after {
  top: 5px;
  right: -12px;
  transform: rotate(-45deg);
}
.link:hover {
  color: red;
}
.link:hover::before {
  transform: rotate(-45deg);
}
.link:hover::after {
  transform: rotate(45deg);
}

.expl:hover .expl__item {
  color: red;
}
