@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

[class*="__container"] {
  max-width: 1360px;
  margin: 0 auto;
  padding: 15px;
}
/* --------------------- Page Example ------------------------ */
.page__example {
  position: relative;
  display: inline-block;
  margin: 0px auto 20px;
  background-color: rgba(223, 248, 110, 0.418);
  z-index: 100;
}
.example-1,
.example-2,
.example-3,
.example-4,
.example-5,
.example-6,
.example-7,
.example-8,
.example-9,
.example-10,
.example-11,
.example-12 {
  width: 150px;
  height: 75px;
  margin-right: 40px;
  background-color: rgb(90, 90, 90);
}
.example-1__item,
.example-2__item,
.example-3__item,
.example-4__item,
.example-5__item,
.example-6__item,
.example-7__item,
.example-8__item,
.example-9__item,
.example-10__item,
.example-11__item,
.example-12__item {
  width: 150px;
  height: 75px;
  padding: 10px;
  transition: all 0.5s ease;
  text-align: center;
  color: rgb(27, 27, 27);
}
.example-1__item {
  background-color: rgb(255, 186, 57);
}
.example-1:hover .example-1__item {
  transform: translate(15px, 15%);
}
.example-2__item {
  background-color: rgb(255, 146, 57);
}
.example-2:hover .example-2__item {
  transform: scale(1.2);
}
.example-3__item {
  background-color: rgb(101, 208, 0);
}
.example-3:hover .example-3__item {
  transform: rotate(30deg);
}
.example-4__item {
  background-color: rgb(59, 255, 190);
}
.example-4:hover .example-4__item {
  transform: skew(10deg, -15deg);
}
.example-5__item {
  background-color: rgb(114, 173, 250);
}
.example-5:hover .example-5__item {
  transform: matrix(0.5, 0.1, 0.1, 0.5, 10, 15);
}
.example-6__item {
  background-color: rgb(139, 114, 250);
  padding: 15px 10px;
}
.example-6:hover .example-6__item {
  transform: translate(10%, 10%) rotate(10deg) scale(0.7) skew(5deg, 5deg);
}
.example-7__item {
  background-color: rgb(184, 69, 230);
  padding: 15px 10px;
}
.example-7:hover .example-7__item {
  transform-origin: 0 0;
  transform: rotate(-20deg);
}
.example-8__item {
  background-color: rgb(230, 69, 190);
}
.example-8 {
  perspective: 200px;
}
.example-8:hover .example-8__item {
  transform: rotateX(45deg);
}
.example-9__item {
  background-color: rgb(211, 23, 86);
}
.example-9 {
  perspective: 400px;
  perspective-origin: 0 0;
}
.example-9:hover .example-9__item {
  transform: rotateX(60deg);
}
.example-10__item {
  background-color: rgb(182, 2, 2);
  padding: 15px 10px;
}
.example-10 {
  perspective: 400px;
}
.example-10:hover .example-10__item {
  transform: translate3d(30px, 30px, 30px) scale3d(1, 1, 1)
    rotate3d(1, 1, 1, 30deg);
}
.example-11__item {
  background-color: rgb(97, 66, 25);
  padding: 15px 10px;
  transform: rotateX(0deg);
}
.example-11 {
  perspective: 400px;
  transform-style: preserve-3d;
  background-color: rgba(90, 90, 90, 0.616);
}
.example-11:hover .example-11__item {
  transform: rotateX(50deg);
}
.example-12 {
  perspective: 400px;
  position: absolute;
}
.example-12__item {
  transform-style: preserve-3d;
}
.example-12__item--front,
.example-12__item--back {
  padding: 10px 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.example-12__item--front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #2a2969;
  backface-visibility: hidden;
}
.example-12__item--back {
  transform: rotateY(-180deg);
  background-color: rgba(121, 79, 69, 0.5);
}
.example-12:hover .example-12__item {
  transform: rotateY(-180deg);
}
/* ----------- Cars ------------------ */

.cars {
}
.cars__background {
  min-height: 800px;
  width: 100%;
  background: url(../img/mountains.jpg) 0 0 / cover no-repeat;
  position: absolute;
  bottom: 195px;
  left: 0;
  right: 0;
  z-index: 1;
}
.cars__road {
  height: 200px;
  width: 100%;
  display: block;
  background: url(../img/road.jpg) 0 0 / cover no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.cars__body {
  width: 600px;
  position: absolute;
  left: 308px;
  bottom: 40px;
  z-index: 2;
  transition: width 5.3s ease 0s;
}
.cars__body img {
  width: 100%;
}
.cars__box:hover .cars__wheels,
.cars__box:hover .cars__body,
.cars__box:hover .cars__windows,
.cars__box:hover .cars__headlights {
  transform: translate(350px);
  transition: all 3.0s ease 1s;
}
.cars__box:hover .cars__wheels--front,
.cars__box:hover .cars__wheels--back{
  transform: rotate(300deg);
  transition: all 3.0s ease 1s;
}

.cars__wheels {
  left: 600px;
  position: absolute;
  bottom: 125px;
  z-index: 2;
}
.cars__wheels img {
  width: 75px;
  height: 75px;
}
.cars__wheels--back {
  position: absolute;
  left: -212px;
}
.cars__wheels--front {
  position: absolute;
  left: 162px;
}
.cars__windows {
  left: 600px;
  position: absolute;
  bottom: 245px;
  z-index: 2;
}
.cars__windows::before {
  content: "";
  background: url("../img/windows.png") 0 0 / contain no-repeat;
  width: 240px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -145px;
  transition: all 0.5s ease 0s;
}
.cars__windows:hover::before {
  content: "";
  background: url("../img/windows-light.png") 0 0 / contain no-repeat;
  width: 240px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -145px;
}
.cars__headlights {
  left: 600px;
  position: absolute;
  bottom: 190px;
  z-index: 2;
}
.cars__headlights::before {
  content: "";
  background: url("../img/headlights-back.png") 0 0 / contain no-repeat;
  width: 50px;
  height: 41px;
  position: absolute;
  top: 0;
  left: -273px;
  transition: all 0.5s ease 0s;
}
.cars__headlights:hover::before {
  content: "";
  background: url("../img/headlights-back-light.png") 0 0 / contain no-repeat;
  width: 50px;
  height: 41px;
  position: absolute;
  top: 0;
  left: -273px;
}
.cars__headlights::after {
  content: "";
  background: url("../img/headlights-front.png") 0 0 / contain no-repeat;
  bottom: -60px;
  left: 247px;
  width: 48px;
  height: 37px;
  position: absolute;
  transition: all 0.5s ease 0s;
}
.cars__headlights:hover::after {
  content: "";
  background: url("../img/headlights-front-light.png") 0 0 / contain no-repeat;
  position: absolute;
  left: 247px;
  width: 48px;
  height: 37px;
}
