@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
}
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
}
.website {
  background-color: rgba(71, 71, 71, 0.253);
}
.website img{
  max-width: 100%;
  margin: 0 auto;
}
