@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
}
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
}
.about__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}
.about__text {
  margin-bottom: 48px;
}
.about__list-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 24px;
}
.about__list {
  margin-bottom: 118px;
}
.about__list li:not(:last-child) {
  margin-bottom: 4px;
}
.about__list li::before {
  background: url("../img/icons/check.svg") 0 7px no-repeat;
  content: "";
  width: 16px;
  min-height: 22px;
  display: inline-block;
  margin-right: 16px;
  transition: all 0.8s ease 0s;
}
.curator {
  padding-top: 86px;
}
.curator__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.curator__name {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 16px;
}
.curator__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #787a80;
  margin-bottom: 32px;
}
.curator__list {
  margin-bottom: 32px;
}
.curator__list li {
  font-weight: 700;
  line-height: 160%;
  color: #424551;
  margin-bottom: 4px;
}
.curator__list li::before {
  content: "";
  width: 16px;
  min-height: 22px;
  display: inline-block;
  margin-right: 8px;
  transition: all 0.8s ease 0s;
}
.rating::before {
  background: url("../img/icons/star.svg") 0 6px no-repeat;
}
.courses::before {
  background: url("../img/icons/play.svg") 0 6px no-repeat;
}
.students::before {
  background: url("../img/icons/profile.svg") 0 6px no-repeat;
}
.curator__text {
  margin-bottom: 80px;
}

/* =============== Псевдокласи ================= */
.different {
  margin-bottom: 40px;
  cursor: pointer;
}
.item:hover {
  background-color: #95ec32;
  color: #fff;
}
.item:last-child {
  margin-bottom: 30px;
}
.list:hover .item-5 {
  visibility: visible;
  opacity: 1;
}
.item-5 {
  opacity: 0;
  visibility: hidden;
}
.item:active {
  color: red;
  padding-left: 10px;
}
.list a:visited {
  color: rgb(173, 2, 207);
}
.item:focus {
  outline: 1px solid red;
}

.text {
  background-color: #cbe4f0;
  padding: 10px;
  line-height: 120%;
  margin: 0 20px 40px;
}
.text p:not(:last-child) {
  margin-bottom: 25px;
}
.text p:first-of-type {
  text-transform: uppercase;
}
.text p:nth-child(3) {
  background-color: #c2f0b7;
}
.text p:nth-child(even) {
  background-color: #ddd1e9;
}
.text p:target {
  background-color: gold;
}
.text > *:last-child {
  margin-bottom: 50px;
}
/* =============== Псевдоелементи ================= */
span::before {
  content: "(";
}
span::after {
  content: ")";
}
.different div::before {
  content: "!";
}
.list li::before{
	background: url('../img/icons/check.svg') 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	transition: all 0.8s ease 0s;
}
ul li:hover::before {
  transform: scale(1.5);
}
ol{
	margin-left: 20px;
	margin-bottom: 20px;

	counter-reset: item;
}
ol li::before{
	counter-increment: item;
	content: counter(item) ") ";
	display: inline-block;
	margin-right: 5px;
	color: rgb(243, 50, 50);
}
ol li:not(:last-child) {
	margin-bottom: 10px;
}