@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #424551;
  line-height: 1.6;
}
.wrapper {
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  background-color: #355fd3e5;
  z-index: 100;
}
.header__menu {
}
.menu {
  font-size: 0;
}
.menu__item {
  position: relative;
  display: inline-block;
}
.menu__item:not(:last-child) {
  margin-right: 10px;
}
.menu__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.menu__link {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  padding: 5px 25px;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__sub-menu {
}
.sub-menu {
  background-color: #7e3ef3c5;
  padding: 15px;
  position: absolute;
  min-width: 180px;
  top: 130%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.sub-menu__item:hover {
  text-decoration: underline;
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 5px;
}
.sub-menu__link {
  font-size: 20px;
  color: #fff;
}
.main {
  height: 100vh;
  position: relative;
}
.main__container {
}
.cars {
}
.cars__background {
  min-height: 800px;
  width: 100%;
  background: url(../img/mountains.jpg) 0 0 / cover no-repeat;
  position: absolute;
  bottom: 195px;
  left: 0;
  right: 0;
  z-index: 1;
}
.cars__road {
  height: 200px;
  width: 100%;
  display: block;
  background: url(../img/road.jpg) 0 0 / cover no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.cars__body {
  width: 600px;
  position: absolute;
  left: 308px;
  bottom: 40px;
  z-index: 2;
}
.cars__body img {
  width: 100%;
}
.cars__wheels {
  left: 600px;
  position: absolute;
  bottom: 125px;
  z-index: 2;
}
.cars__wheels img {
  width: 75px;
  height: 75px;
}
.cars__wheels--back {
  position: absolute;
  left: -212px;
}
.cars__wheels--front {
  position: absolute;
  left: 162px;
}
.cars__windows {
  left: 600px;
  position: absolute;
  bottom: 245px;
  z-index: 2;
}
.cars__windows::before {
  content: "";
  background: url("../img/windows.png") 0 0 / contain no-repeat;
  width: 240px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -145px;
  transition: all 0.5s ease 0s;
}
.cars__windows:hover::before {
  content: "";
  background: url("../img/windows-light.png") 0 0 / contain no-repeat;
  width: 240px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -145px;
}
.cars__headlights {
  left: 600px;
  position: absolute;
  bottom: 190px;
  z-index: 2;
}
.cars__headlights::before {
  content: "";
  background: url("../img/headlights-back.png") 0 0 / contain no-repeat;
  width: 50px;
  height: 41px;
  position: absolute;
  top: 0;
  left: -273px;
  transition: all 0.5s ease 0s;
}
.cars__headlights:hover::before {
  content: "";
  background: url("../img/headlights-back-light.png") 0 0 / contain no-repeat;
  width: 50px;
  height: 41px;
  position: absolute;
  top: 0;
  left: -273px;
}
.cars__headlights::after {
  content: "";
  background: url("../img/headlights-front.png") 0 0 / contain no-repeat;
  bottom: -60px;
  left: 247px;
  width: 48px;
  height: 37px;
  position: absolute;
  transition: all 0.5s ease 0s;
}
.cars__headlights:hover::after {
  content: "";
  background: url("../img/headlights-front-light.png") 0 0 / contain no-repeat;
  position: absolute;
  left: 247px;
  width: 48px;
  height: 37px;
}
