@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #424551;
}
[class*="__container"] {
  max-width: 810px;
  margin: 0 auto;
}
.page__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 26px;
}
.page__image {
  max-width: 100%;
  margin-bottom: 60px;
}
.page__main-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 24px;
}
.page__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 48px;
}
.page__text p {
  margin-bottom: 22px;
}
.page__text ul {
  margin-bottom: 24px;
}
.page__text li {
  margin-bottom: 4px;
  padding-left: 52px;

  background: url("../img/icons/check.svg") 0 6px no-repeat;
}
.page__blockquote {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 48px;

  background: url("../img/icons/braces.svg") 0 0 no-repeat;
  padding-left: 58px;
}
.background-1 {
  background-color: #c8b1df6e;
  background-image: url("../img/ocean.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 380px;
  padding: 10px;
  height: 400px;
  margin-bottom: 10px;
}
.background-2 {
  background-image: linear-gradient(55.95deg, #29f700 0%, #0552f7 100%);
  background-position: 200px 0;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: contain; 
  height: 400px;
  width: 900px;
  margin-bottom: 10px;
}
.background-3{
  background: rgb(70, 106, 224) url("../img/snow.jpg") center 0 / contain no-repeat;
  height: 400px;
  margin-bottom: 10px;
}
.background-4 {
  background: url("../img/ocean.jpg") no-repeat 20px 20px  / 450px, linear-gradient(55.95deg, rgba(255, 64, 58, 0.3) 0%, rgba(247, 94, 5, 0.3) 100%), url("../img/snow.jpg") no-repeat right top / 500px;
  height: 400px;
}