@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #424551;
}
[class*="__container"] {
  max-width: 810px;
  margin: 0 auto;
}
.page__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 26px;
}
.page__image {
  max-width: 100%;
  margin-bottom: 60px;
}
.page__main-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 24px;
}
.page__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 48px;
}
.page__text p {
  margin-bottom: 22px;
}
.page__text ul {
  margin-bottom: 24px;
}
.page__text li {
  margin-bottom: 4px;
  padding-left: 52px;

  background: url("../img/icons/check.svg") 0 6px no-repeat;
}
.page__blockquote {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 48px;

  background: url("../img/icons/braces.svg") 0 0 no-repeat;
  padding-left: 58px;
}
.background-1 {
  background-color: #c8b1df6e;
  background-image: url("../img/ocean.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 380px;
  padding: 15px;
  height: 400px;
}
.background-2 {
  background-image: linear-gradient(55.95deg, #29f700 0%, #0552f7 100%);
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: contain; 
  height: 400px;
}
.background-3{
  background: rgb(27, 72, 221) url("../img/snow.jpg") 0 0 / cover no-repeat;
  height: 400px;
}
.background-4 {
  background: url("../img/ocean.jpg") no-repeat 50px 0 / 500px, linear-gradient(55.95deg, rgba(255, 64, 58, 0.3) 0%, rgba(247, 94, 5, 0.3) 100%), url("../img/snow.jpg") no-repeat right top / 500px;
  height: 500px;
}

/*
Властивість background
Ця універсальна CSS властивість дозволяє одночасно задати кілька параметрів фону,
а саме визначити колір,  встановити фонове зображення, задати початкове положення фонового зображення,
визначити як повторюватиметься фонове зображення, встановити чи прокручуватиметься фонове зображення разом із вмістом 
і масштабувати фонове зображення відповідно до заданих розмірів.
Також значенням властивості background може бути вказана градієнтна заливка фону.
*/

.block__background {
  padding: 15px;
  /* height: 1000px;  */
/*
	!! Зображення НЕ встановлює розміри об'єкту
	*/
  /* background-image: url("../img/rockstar.jpg"); */
  /* background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); */

  /* Визначає, як повторюватиметься фонове зображення */
  /* (за замовченням) */
  /* background-repeat: repeat;  */ 

  /*
	Задає початкове положення фонового зображення,
	де перше значення (відсотки, px, слово) 
	визначає розташування по горизонталі,
	друге – вертикалі.

	0 0 (або left top) - за замовченням 
	center
	top
	left 
	bottom
	right
	*/
  /* background-position: 0 0;  */

  /* 
	Встановлює, чи прокручуватиметься 
	фонове зображення разом із вмістом елемента.

	scroll - (за замовченням) скролиться разом з блоком
	fixed - фонове зображення НЕ скролиться разом з блоком
	*/
  /* background-attachment: scroll;  */

  /*
	Масштабує фонове зображення згідно з заданими розмірами. 
	У цифрах, де перше значення (відсотки, px) визначає ширину,
	друге – висоту. Або спеціальним значенням.

	contain - Масштабує зображення зі збереженням пропорцій таким чином, щоб картинка повністю помістилася всередину блоку. Тобто щонайменше картинки
	cover - Масштабує зображення зі збереженням пропорцій так, щоб його ширина або висота дорівнювала ширині або висоті блоку. Тобто з більшого боку картинки

	*/
  /* background-size: auto 100px; */
  /* background-size: contain; */

  /* Універсальна властивість - background */
  /* background: green url("../img/rockstar.jpg") 0 0 / cover no-repeat;  */

  /* Встановлення кількох фонових зображень для блоку */
  /* background: url("../img/rockstar.jpg") no-repeat 0 0 / 200px, linear-gradient(55.95deg, rgba(255, 64, 58, 0.3) 0%, rgba(247, 94, 5, 0.3) 100%), url("../img/home/01.png") no-repeat right top / 800px; */
}