@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit.woff2") format("woff2"),
    url("../fonts/Larsseit.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"),
    url("../fonts/Larsseit-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body{
	font-family:"CircularStd", serif;
}


/* -------- CSS-властивості шрифтів ------------ */

/* 
Встановлює родину шрифту
font-family: "Ім'я шрифту", "Ім'я шрифту", тип шрифту;
успадковується

Типи шрифтів:
serif — шрифт з зарубками (засічками)
sans-serif — рублений (без зарубок)
cursive - курсивні шрифти
fantasy — декоративні
monospace — моноширинні

.title {
	font-family:CircularStd, serif;
}
*/

/*
Встановлює розмір шрифту
font-size: цифрове значення одиниця виміру;
(за замовчунням 16px, якщо в браузері не вказано іншого)
успадковується
.title {
	font-size: 20px;
}
*/

/*
Встановлює стиль шрифту
font-style: назва стилю;
успадковується

normal (за замовчуванням) - звичайний (не змінений, стандартний) стиль 
italic - курсив
oblique - нахилення літер
*/
/*
.title{
	font-family: CircularStd;
	font-style: italic;
}
.text{
	
}
*/

/*
Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - lite 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black
*/
/*
.title {
	font-family: CircularStd;
	font-weight: 900;
}
*/

/* -------- CSS-властивості тексту ------------ */
/*
Встановлює колір тексту
color: слово або код кольору;
успадковується
*/
.title{
	/* color: green; */
	/* color: #1f7909; */
	/* color: rgba(55, 168, 51, 0.5); - прозорість */
}

/*
Встановлює вирівнювання тексту
text-align: значення;
успадковується (текстом)

center - вирівнює по центру
left - вирівнює по лівому краю
right - вирівнює по правому краю
justify - вирівнює текст по ширині об'єкту в якому він знаходиться 
автоматично змінюючи пробіли між словами
*/
/*
.text {
	text-align: center;
}
*/


/*
Додає тексту певне оформлення 
text-decoration: значення;
line-through - закреслює текст
overline - лінія над текстом
underline - лінія під текстом
none - (за замовченням) відміняє змінений раніше параметр
*/
/*
.text {
	text-decoration: underline;
}
*/

/*
Додає тексту тінь
text-shadow: горизонтальне_зміщення вертикальне_зміщення розмір колір;
успадковується (текстом)
Може бути мульти-тінь (значення через кому - text-shadow: 2px 2px 5px #000, 5px -2px 10px red;)
.text {
	text-shadow: 2px 2px 5px #000;
}
*/


/*
Встановлює тип (регістр) літер (прописні або заглавні)
text-transform: значення;
успадковується (текстом)
capitalize - кожне слово починається з заглавної літери
lowercase - усі літери прописні (нижній регістр)
uppercase - усі літери заглавні (верхній регістр)
none - (за замовчунням) не змінює (або відмініє) значення
*/
/*
.title{
	text-transform:uppercase;
}
.text {
}
*/

/*

Визначає міжрядковий інтервал (відстань) (висота рядка)
line-height: значення;
Перевести пікселі в частини:
значення line-height поділити на значення font-size
успадковується (текстом)
*/
/*
.text {
	font-size: 10px;
	line-height: 1.2;
}
*/

/*
Червона строка. Встановлює відступ зліва у першого рядка тексту
text-indent: значення;
успадковується (текстом)
*/
/*
.text {
	text-indent: 20px;
}
*/


/*
Встановлює інтервал між літерами (символами)
letter-spacing: значення;
успадковується (текстом)
*/
/*
.title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
}
*/

/*
Управляє поведінкою пробілів між словами
white-space: значення;
nowrap - забороняє переніс рядка
normal - (за замовчунням) не змінює (або відмініє) значення
успадковується (текстом)
*/
/*
.text {
	white-space: nowrap;
}
*/

/*
Встановлює інтервал між словами
word-spacing: значення;
успадковується (текстом)
*/
/*
.text {
	word-spacing: 20px;
}
*/

/* ======================================================== */
/* --------------- CSS-властивості блоків ----------------- */
/* ======================================================== */

/*
box-sizing
Застосовується для зміни алгоритму обчислення величин
content-box - (за замовченням) додає відступи до розміру об'єкту
border-box - значення розмірів враховують відступи
*/

.block {
	background-color: #77608d;
}
.inline {
	background-color: #7A956B;
}

/* Відступи */
/* Відступи неочикувано працюють для рядкових об'єкти */

/*
padding - Внутрішній відступ. 
Відступи ВСЕРЕДЕНІ об'єкту. 
Від кордонів об'єкту ДО ЙОГО КОНТЕНТУ
НЕ успадковується

padding: з_усіх_сторін;
padding: зверху_знизу зправа_зліва;
padding: зверху зправа_зліва знизу;
padding: зверху зправа знизу зліва;

padding-top: значення;
padding-right: значення;
padding-bottom: значення;
padding-left: значення;

При вказанні значення у відсотках
відсоток береться від ширини батьківського об'єкту,
навіть для горизонтальних відступів 
*/

/*
margin - Зовнішній відступ.
Відступи ЗОВНІ об'єкту. 

margin: з_усіх_сторін;
margin: зверху_знизу зправа_зліва;
margin: зверху зправа_зліва знизу;
margin: зверху зправа знизу зліва;

margin-top: значення;
margin-right: значення;
margin-bottom: значення;
margin-left: значення;

Значення можуть бути від'ємними!

*/
/* Практика відступи */
.section {
	background-color: #77608d;
	margin-bottom: 20px;
	padding: 15px;
}
.section__text {
	border: 10px solid green;
	padding: 15px;
	margin-bottom: 15px;
}
.section-2{
	background-color: #7A956B;
	padding: 15px;
}

/*
Схлопування margin.
Значання відступу буде дорівнювати 
найбільшому з 2х значеннь
*/
/*
Відступ margin прийнято записувати з ліва направо
та зверху вниз
*/

/*
width - чітко задає ширину
блочного (блочно-рядкового) об'єкту
НЕ працює зі рядковими об'єктами
width: значення;
auto - (за замовченням) автоматичний розмір
*/
/*
max-width 
Встановлює максимальну ширину 
блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами
*/
/*
min-width 
Встановлює мінімальну ширину 
блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами
*/

/*
height 
Встановлює чітку висоту блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами

min-height 
Встановлює мінімальну висоту 
блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами

max-height 
Встановлює максимальну 
висоту блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами

overflow 
Управляє відображенням контенту блочного елементу
Властивість не успадковується
visible - (за замовченням) Відображається усесь 
контент елемента, навіть за межами встановлених розмірів
hidden - Відображається тільки контент всередені елемента,
все інше буде сховано
scroll - Завжди додаються смужки прокрутки
auto - Смужки прокрутки додаються лише за необхідністю

display
Багатоцільова властивість яка задає 
глобальні параметри тега. 
Властивість не успадковується
block - (за замовченням для блочних об'ектів) 
Елемент відображається як блочний.
inline - (за замовченням для рядкових об'ектів)  
Елемент відображається як рядковий.
inline-block - (блочно-рядковий) Елемент відображається як 
рядковий але з можливістю 
використання усіх CSS-властивостей.
none - Елемент не виводиться в браузер. 
Інші елементи займають його місце.
Не приймає участь у обробці браузером.

*/
/* Фантомні пробіли */
/*
.items {
	font-size: 0;
}
.item {
	font-size: 20px;
	width: 100px;
	display: inline-block;
	padding: 15px;
	margin: 5px 0px 0 0;
	background-color: #794f45;
}*/

/*
.block {
	width: 50px;
	display: inline-block;
}
.inline {
	width: 100px;
	display: inline-block;
}
.image{
	width: 200px;
}*/

/* Гарний приклад з A */
/*
.section {
	padding: 15px;
	background-color: #7A956B;
}
.text {
	margin-bottom: 10px;
}
.link {
	display: inline-block;
	margin-bottom: 10px;
}*/

/* ======================================================== */
/* ---------- CSS-властивості оформлення блоків ----------- */
/* ======================================================== */

/*
border 
Універсальна властивість встановлює товщину,
стиль та колір границі навколо елемента 
Властивість не успадковується
border: товщина стиль колір;
Основні стили - solid dotted dashed double
*/
.block {
	/*
	margin: 15px;
	padding: 15px;
	border: 5px solid #000000;
	border-bottom: none;
	*/
	/*
	border-top: 1px solid red;
	border-right: 2px dotted blue;
	border-bottom: 3px double green;
	border-left: 4px dashed yellow;
	*/
}

/*
outline 
Універсальна властивість встановлює товщину,
стиль та колір обводки навколо елемента 
Властивість не успадковується
*/

/*
border-radius
Встановлює радіус заокруглення кутів блоку. 
Властивість не успадковується
*/
/*
.circle{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #794f45;
}
*/

/*
box-shadow
Додає тінь до елементу
Властивість не успадковується
box-shadow: здвиг_по_гориз здвиг_по_верт радіус(розмиття) розмір колір
inset - тінь в середені об'єкту
*/

/*
opacity
Встановлює рівень прозорості елемента
Властивість не успадковується
0 - повна прозорість
1 - повна непрозорість
0.5 - прозорість 50%
*/

/*
visibility
Управляє відображенням елемента
visible - (за замовченням) відображає об'єкт
hidden - ховає об'єкт (з об'єктом не можна взаємодіяти)
*/
/* 
.block {
	margin: 15px;
	padding: 15px;
	
}
.block-2 {
	background-color: #794f45;
	padding: 15px;
	margin: 15px;
}

.inline {
}
.image {
	width: 200px;
}
 */

/* Центрування влоку */
/*
1) Об'єкт має бути блочним
2) Об'єкт має мати меньшу ширину за батьківський
3) Додаємо margin: 0 auto;
*/
/*
 .center-block {
	background-color: #794f45;
	padding: 15px;
	color: #fff;
	margin: 0 auto;
	max-width: 200px;
 }
 */
 /* margin: 0 0 0 auto; */

/* Прикол з тінями */
/*
 .button{
	display: inline-block;
	background-color: #7A956B;
	padding: 15px;
	color: #fff;
	border-radius: 20px;
	box-shadow: 0 5px 0 #000;
	transition: all 0.3s ease 0s;
}
.button:hover{
	margin-top: 3px;
	box-shadow: 0 2px 0 #000;
}
*/