@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2"),
    url("../fonts/Lato-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0 15px;
  background: rgba(217, 235, 217, 0.774);
}
#start,
#finish,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-style: italic;
  font-size: 18px;
}
#start,
#finish {
  color: #1eff00;
}
.title {
  font-size: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  color: #1a4e0a;
}
.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: green;
}
.title,
.subtitle,
p {
  margin-bottom: 10px;
}
.title,
.subtitle {
  text-align: center;
}
.title {
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.subtitle {
  word-spacing: 10px;
}
p {
  line-height: 1.5;
}
.item,
p {
  color: rgba(3, 82, 71, 0.8);
  text-align: justify;
  text-indent: 20px;
}
.list li {
  margin-left: 25px;
  list-style-type: disc;
}
.item {
  margin-bottom: 10px;
  line-height: 1.2;
}
.photo {
  width: 600px;
  padding: 10px 0;
  margin: 0 auto;
}
span {
  text-decoration: underline;
}
