/* ====================== ШРИФТИ =============================== */

/*----------------- Підключення шрифтів ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body{
	font-family:"CircularStd", serif;
}


/* -------- CSS-властивості шрифтів ------------ */

/* 
Встановлює родину шрифту
font-family: "Ім'я шрифту", "Ім'я шрифту", тип шрифту;
успадковується

Типи шрифтів:
serif — шрифт з зарубками (засічками)
sans-serif — рублений (без зарубок)
cursive - курсивні шрифти
fantasy — декоративні
monospace — моноширинні

.title {
	font-family:CircularStd, serif;
}
*/

/*
Встановлює розмір шрифту
font-size: цифрове значення одиниця виміру;
(за замовчунням 16px, якщо в браузері не вказано іншого)
успадковується
.title {
	font-size: 20px;
}
*/

/*
Встановлює стиль шрифту
font-style: назва стилю;
успадковується

normal (за замовчуванням) - звичайний (не змінений, стандартний) стиль 
italic - курсив
oblique - нахилення літер
*/
/*
.title{
	font-family: CircularStd;
	font-style: italic;
}
.text{
	
}
*/

/*
Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - lite 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black
*/
/*
.title {
	font-family: CircularStd;
	font-weight: 900;
}
*/

/* -------- CSS-властивості тексту ------------ */
/*
Встановлює колір тексту
color: слово або код кольору;
успадковується
*/
.title{
	/* color: green; */
	/* color: #1f7909; */
	/* color: rgba(55, 168, 51, 0.5); - прозорість */
}

/*
Встановлює вирівнювання тексту
text-align: значення;
успадковується (текстом)

center - вирівнює по центру
left - вирівнює по лівому краю
right - вирівнює по правому краю
justify - вирівнює текст по ширині об'єкту в якому він знаходиться 
автоматично змінюючи пробіли між словами
*/
/*
.text {
	text-align: center;
}
*/


/*
Додає тексту певне оформлення 
text-decoration: значення;
line-through - закреслює текст
overline - лінія над текстом
underline - лінія під текстом
none - (за замовченням) відміняє змінений раніше параметр
*/
/*
.text {
	text-decoration: underline;
}
*/

/*
Додає тексту тінь
text-shadow: горизонтальне_зміщення вертикальне_зміщення розмір колір;
успадковується (текстом)
Може бути мульти-тінь (значення через кому - text-shadow: 2px 2px 5px #000, 5px -2px 10px red;)
.text {
	text-shadow: 2px 2px 5px #000;
}
*/


/*
Встановлює тип (регістр) літер (прописні або заглавні)
text-transform: значення;
успадковується (текстом)
capitalize - кожне слово починається з заглавної літери
lowercase - усі літери прописні (нижній регістр)
uppercase - усі літери заглавні (верхній регістр)
none - (за замовчунням) не змінює (або відмініє) значення
*/
/*
.title{
	text-transform:uppercase;
}
.text {
}
*/

/*

Визначає міжрядковий інтервал (відстань) (висота рядка)
line-height: значення;
Перевести пікселі в частини:
значення line-height поділити на значення font-size
успадковується (текстом)
*/
/*
.text {
	font-size: 10px;
	line-height: 1.2;
}
*/

/*
Червона строка. Встановлює відступ зліва у першого рядка тексту
text-indent: значення;
успадковується (текстом)
*/
/*
.text {
	text-indent: 20px;
}
*/


/*
Встановлює інтервал між літерами (символами)
letter-spacing: значення;
успадковується (текстом)
*/
/*
.title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
}
*/

/*
Управляє поведінкою пробілів між словами
white-space: значення;
nowrap - забороняє переніс рядка
normal - (за замовчунням) не змінює (або відмініє) значення
успадковується (текстом)
*/
/*
.text {
	white-space: nowrap;
}
*/

/*
Встановлює інтервал між словами
word-spacing: значення;
успадковується (текстом)
*/
/*
.text {
	word-spacing: 20px;
}
*/

/* ======================================================== */
/* --------------- CSS-властивості блоків ----------------- */
/* ======================================================== */

/*
box-sizing
Застосовується для зміни алгоритму обчислення величин
content-box - (за замовченням) додає відступи до розміру об'єкту
border-box - значення розмірів враховують відступи
*/


.block {
	background-color: #77608d;
}
.inline {
	background-color: #7A956B;
}

/* Відступи */
/* Відступи неочикувано працюють для рядкових об'єкти */

/*
padding - Внутрішній відступ. 
Відступи ВСЕРЕДЕНІ об'єкту. 
Від кордонів об'єкту ДО ЙОГО КОНТЕНТУ
НЕ успадковується

padding: з_усіх_сторін;
padding: зверху_знизу зправа_зліва;
padding: зверху зправа_зліва знизу;
padding: зверху зправа знизу зліва;

padding-top: значення;
padding-right: значення;
padding-bottom: значення;
padding-left: значення;

При вказанні значення у відсотках
відсоток береться від ширини батьківського об'єкту,
навіть для горизонтальних відступів 
*/

/*
margin - Зовнішній відступ.
Відступи ЗОВНІ об'єкту. 

margin: з_усіх_сторін;
margin: зверху_знизу зправа_зліва;
margin: зверху зправа_зліва знизу;
margin: зверху зправа знизу зліва;

margin-top: значення;
margin-right: значення;
margin-bottom: значення;
margin-left: значення;

Значення можуть бути від'ємними!

*/

.block {
	
}

.inline {
	
}

/*
width - чітко задає ширину блочного (блочно-рядкового) об'єкту
НЕ працює зі рядковими об'єктами
width: значення;
auto - (за замовченням) автоматичний розмір
*/
.block {
	padding: 10px;
	width: 200px;
}
.inline {
	width: 200px;
}

